{% extends 'alergyAlert/base.html' %}

{% block content_title %}
    <h2>Why & how to use this app?</h2>
{% endblock %}
{% block content %}
    <p>This app was born to make alergy suffers's lifes easier.
    While log in, you are free to add and manage your meals, add alergens included in your daily menu and come back to write down your symptoms.<br>
    Looking for more info? Please dropy by <a href="https://erudus.com/14-major-food-allergens-for-eu-food-information-for-consumers/">here</a><br>
    <span> Data used to calculate average number of meals' kcal comes from <a href="https://www.nutritionix.com/"> Nutritionix</a></span>.
    </p>
{% endblock %}



