{% extends 'alergyAlert/base.html' %}


{% block content_title %}
                <h2>The list of your meals</h2>
       {% endblock %}
       {% block content %}
           <ul>
                    {% for meal in object_list %}
                        {% block element %}
                            <li>Name: {{ meal.name }}</li>
                            Date: {{ meal.date }}<br>
                            <a href="/meal/{{ meal.slug }}">Details</a>

                    <br>
                    <a href="/update_meal/{{ meal.slug }}">Update</a>
                    <br>
                    <a href="/delete_meal/{{ meal.slug }}">Delete></a>
                        {% endblock %}
                    {% endfor %}
           </ul>
             <form action='{% url 'add_meal' %}'>
              <button type="submit" class='btn btn-success'>Add meal</button>
            </form>

            {% endblock %}

