{% extends 'alergyAlert/base.html' %}

{% block content_title %}
                <h2>The list of your meals</h2>
       {% endblock %}
       {% block content %}
                <ul>
                    {% for meal in object_list %}
                        {% block element %}
                            <li> name: {{ meal.name }}</li>
                            slug: <a href='/meal/{{meal.slug}}'>{{ meal.slug }}</a>
                                date: {{ meal.date }}<br>
                            <a href="/meal/{{ meal.slug }}">Details</a>

                    <br>
                    <a href="/update_meal/{{ meal.slug }}">Update</a>
                    <br>
                    <a href="/delete_meal/{{ meal.slug }}">Delete></a>
                        {% endblock %}
                    {% endfor %}
                </ul>
             <form action='{% url 'add_meal' %}'>
                <button type="submit">Add meal</button>
            </form>
       {% endblock %}

